@{
    ViewData["Title"] = "About Project";
}
<h1>@ViewData["Title"]</h1>

<div class="about-project">
    <p>This project was created as a year project and a bachelor's thesis at Charles University, Faculty of Mathematics and Physics. The aim is to contribute to Automatic Chord Recognition research and to easily visualize the ACR model to the public. For more information about the structure of the model and source codes, see <a href="https://github.com/lanzv/SongChordsRecognizer">GitHub</a>.</p>
</div>
