@{
    ViewData["Title"] = "Input format error";
}

@section header{
    <h1>@ViewData["Title"]</h1>
}



<div class="error-message">
    <h4>
        <span style="white-space: pre-wrap">@Model.Message</span>
    </h4>
</div>


<div class="back-to-index">
    <form asp-controller="Recognizer" asp-action="Index"
          enctype="multipart/form-data" method="post">
        <button type="submit">Return back and process new audio!</button>
    </form>
</div>