@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h4>Upload Audio File</h4>
    <form asp-controller="Recognizer" asp-action="UploadAudio" 
          enctype ="multipart/form-data" method="post">
        <input type="file" name="audio" />
        <button type="submit">Process</button>
    </form>
</div>