@model WebSongChordsRecognizer.Models.RecognizerModel;
@{
    ViewData["Title"] = "ChordSequence";
}

@section header{
    <h1>Chord Sequence</h1>
}



<div class="chordsequence">
    @{
        int nonSeparablePartLength = 4;
        for (int i = 0; i < Model.ChordSequence.Count; i++)
        {

            <div class="bar">
                @for (int j = 0; j < nonSeparablePartLength && i + j < Model.ChordSequence.Count; j++)
                {
                    <div class="chord">@Model.ChordSequence[i + j].Description</div>
                }
            </div>
            i = i + nonSeparablePartLength;
        }
    }
</div>


<div class="back-to-index">
    <form asp-controller="Recognizer" asp-action="Index"
          enctype="multipart/form-data" method="post">
        <button type="submit">Return back and process new audio!</button>
    </form>
</div>

<br />
<br />